

/* ApiWeatherLive */
.live__tempObj {
  font-size: 2.2em;
}
.live__ptyObj {}
.live__windSpeedObj {
  font-size: 1.2em;
}

/* ApiWeatherShortFcst */
.weatherWrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.skyObj, .tempObj, .humidityObj, .windSpeedObj {
  /* background-color: pink; */
  /* display: flex;
  flex-direction: column; */
  width: 200px;

}

.skyObj {

}

.tempObj {

}

.humidityObj {

}

.windSpeedObj {

}

